.c-tabs-contact-blocks-template {
  margin-top: 50px;

  @include media(tablet-lg) {
    margin-bottom: get-responsive-value(50);
  }

  &__blocks {
    @include reset--list;
    @include typo-p2;

    font-size: 18px;

    display: grid;
    row-gap: 40px;
    color: color(t-dark);

    @include media(desktop) {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }

    @include media(desktop) {
      gap: get-responsive-value(50);
    }
  }

  &__block,
  &__block-heading-wrapper,
  &__block-address-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__block-heading-wrapper {
    margin-bottom: 30px;

    @include media(tablet-lg) {
      margin-bottom: get-responsive-value(30);
    }
  }

  &__block-address-wrapper {
    margin-bottom: 14px;

    @include media(tablet-lg) {
      margin-bottom: get-responsive-value(14);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__block-heading {
    @include typo-p1;

    font-size: 22px;
  }

  &__block-sign {
    @include typo-p3;
  }

  &__block-label {
    @include typo-menu;

    font-size: 14px;
    color: color(t-light);
  }

  &__block-link {
    @include transition;

    transition-property: color;

    &:hover {
      color: color(primary);
    }
  }
}
