.ui-link {
  display: inline-flex;
  color: color(main);
  @include transition;
}

.ui-bg {
  @include background-modifiers;
}

.ui-color {
  @include color-modifiers;
}

.ui-color-mb {
  @include media(0, mobile) {
    @include color-modifiers;
  }
}

.ui-color-tablet {
  @include media(mobile) {
    @include color-modifiers;
  }
}

.ui-weight {
  @include weight-modifiers;
}

.ui-letter {
  @include letter-modifiers;
}

.ui-unordered-list,
.ui-ordered-list {
  margin: 0;
  padding: 0;
  padding-left: $white-space;

  list-style: none;
  li {
    margin: 1rem 0;
  }
}

.ui-hide {
  display: none !important;
}

.ui-invisible {
  opacity: 0;
  visibility: hidden;
}

.ui-hide-mobile {
  @include media(0, mobile) {
    display: none !important;
  }
}

.ui-hide-mobile-tablet {
  @include media(0, tablet-lg) {
    display: none !important;
  }
}

.ui-hide-tablet {
  @include media(mobile) {
    display: none !important;
  }
}

.ui-hide-tablet-desktop {
  @include media(mobile, tablet) {
    display: none !important;
  }
}

.ui-hide-desktop {
  @include media(tablet-lg) {
    display: none !important;
  }
}

.ui-svg-fill {
  fill: currentColor;
}

.ui-block-scroll {
  overflow: hidden;
}

.ui-list {
  @include reset--list;
}

.ui-small-width {
  width: 100%;
  max-width: $size-ui-small-width;
  margin: 0 auto;
}

.ui-fade-in {
  @include transition(
    (0.8s, 0.8s),
    (cubic-bezier(0, 0, 0, 0.94), cubic-bezier(0, 0, 0, 0.94))
  );

  transition-property: opacity, transform;
  transform: translateY(30px);
  opacity: 0;

  &.is-inview {
    transform: translateY(0);
    opacity: 1;
  }
}

.ui-offset {
  display: flex;

  @include media(tablet-lg) {
    width: calc(100% + var(--containerOffset));
  }
}

.ui-img-full {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ui-img-inside-border {
  position: relative;

  &::before {
    @include transition;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 95%;
    width: 95%;
    border: 1px solid color(primary);
    pointer-events: none;
    z-index: 2;

    @include media(tablet-lg) {
      border: 3px solid color(primary);
    }
  }
}

.ui-responsive-img {
  @include media(0, tablet-lg) {
    min-height: 260px;
    height: 69.3333vw;
    max-height: 500px;
  }
}

.ui-mt-0 {
  margin-top: 0 !important;
}

.ui-m-0 {
  margin: 0 !important;
}

.ui-relative {
  position: relative;
}
