.l-app-panel {
  color: white;
  overflow: hidden;

  &__main {
    min-height: 100vh;
    grid-column: 1/-1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media(tablet-lg) {
      grid-column: 7/13;
    }
  }

  &__bg {
    @include media(tablet-lg) {
      position: fixed;
      top: 0;
      left: 0;
      width: 15%;
      bottom: 0;
      background-color: color(secondary-dark);
      z-index: -1;
    }
  }

  &__logout {
    position: absolute;
    top: 40px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 11;
    color: color(t-dark);

    @include media(tablet-lg) {
      top: 50px;
      right: 10%;
      gap: 24px;
    }
  }

  &__back {
    position: absolute;
    top: 40px;
    right: 16px;
    left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 11;
    color: color(white);

    @include media(tablet-lg) {
      top: 50px;
      left: 0;
      right: auto;
    }
  }

  .c-hamburger-menu.is-active {
    .c-hamburger-menu__line {
      background-color: #fff;
    }
  }

  &__blob1 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  &__blob2 {
    position: absolute;
    bottom: 0;
    left: 100%;
    z-index: -2;

    @include media(0, tablet-lg) {
      display: none;
    }
  }

  &__decor {
    position: absolute;
    top: 0;
    left: 30%;
    z-index: -1;

    user-select: none;

    @include media(0, tablet-lg) {
      display: none;
    }
  }
}
