.l-full-img-text-block {
  @include media(0, tablet-lg) {
    margin: 50px 0;
  }

  @include media(tablet-lg) {
    position: relative;
    height: 100vh;
  }

  &__col {
    @include media(tablet-lg) {
      height: 100vh;
    }
  }

  &__col--left {
    grid-column: 1/-1;

    @include media(tablet-lg) {
      grid-column-start: 1;
      grid-column-end: 7;
    }
  }

  &__col--right {
    @include media(0, tablet-lg) {
      grid-column: 1/-1;
    }

    @include media(tablet-lg) {
      width: 50%;
    }
  }

  &__text-block-wrapper.c-img-text-block__wrapper {
    @include media(0, tablet-lg) {
      justify-content: flex-start;
      height: auto;
    }
  }

  &__text-block {
    .c-text-block__title {
      @include media(tablet-lg) {
        max-width: 90%;
      }
    }
    .c-text-block__desc {
      @include media(tablet-lg) {
        max-width: 83%;
      }
    }
  }

  .c-full-img-text-block__img-wrapper {
    @include media(0, tablet-lg) {
      margin: 40px 0 0;
    }

    @include media(tablet-lg) {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100vh;
    }
  }
}
